form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.btn{
    margin-bottom: 2rem;;
}
#input{
    margin-bottom: 1rem;
    width: 20rem;
    padding: 1.5rem;
    font-size: 1.8rem;
    border: none;
    box-shadow: 0 0.1rem 1.4rem 0 rgba(86,185,235,0.5);
    

}
#input::placeholder{
    color: rgb(201, 192, 192);
}
.btn[disabled]:hover{
    box-shadow: none;
    transform: none;
    cursor: none;
    transition: none;
    text-decoration: line-through;
    background-color: rgb(199, 90, 90);
}
#score{
    font-size: 5rem;
    color: white;
    position: absolute;
    right: 14rem;
}